<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class="redis.clients.jedis.JedisPoolConfig" id="poolConfig">
        <property name="maxTotal" value="${max_total}"></property>
    </bean>
    <!-- <bean class="redis.clients.jedis.ShardedJedisPool" destroy-method="close">
         <constructor-arg index="0" ref="poolConfig"/>
        <constructor-arg index="1" >
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg index="0" value="${redis_ip}"/>
                    <constructor-arg index="1" value="${redis_port}"/>
                </bean>
            </list>
        </constructor-arg>
    </bean> -->

    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="poolConfig"/>
        <constructor-arg index="1" value="${redis_ip}" type="java.lang.String"/>
        <constructor-arg index="2" value="${redis_port}" type="int"/>
    </bean>
</beans>